body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8eedc;
  overflow-x: hidden;
}

/* Styling for Dashboard Section */
.dashboard-section {
  padding: 50px 0;
  background-color: #e8eedc;
  position: relative;
  overflow: hidden;
}

.background-animate {
  position: absolute;
  top: 10px;
  left: -55%;
  width: 50vw;
  height: 100%;
  background-color: #e8c614;
  border-radius: 0 100% 100% 0;
  transform: translateX(-100%);
}

.dashboard-section .container {
  position: relative;
  z-index: 1;
}

.dashboard-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
}

.dashboard-section img {
  display: block;
  margin: 0 auto;
}

.dashboard-section .btn {
  margin-top: 20px;
}

.btn-dashboard {
  padding: 10px 20px;
  background-color: #e8eedc;
  border: 2px solid #004225;
  color: #004225;
}

.btn-dashboard:hover {
  background-color: #004225;
  border: 2px solid #004225;
  color: #eeeeee;
}
