body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8eedc;
  overflow-x: hidden;
}

.btn-offcanvas {
  background-color: #004225;
  border: 2px solid #004225;
  border-radius: 5px 0 0 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -10px;
  right: -110px;
  display: flex; /* Tambahkan */
  justify-content: center; /* Tambahkan */
  align-items: center;
}

.btn-offcanvas a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  color: #eeeeee !important;
  padding-bottom: 25px !important;
  padding-left: 15px;
  text-decoration: none;
  border: none;
}

.btn-offcanvas:hover {
  background-color: #56ab2e !important;
  border: 2px solid #56ab2e !important;
  border-radius: 5px 0 0 5px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

.login-section {
  margin-top: 110px;
  padding: 50px 0;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

.login-logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 120px;
  height: auto;
}

.login-section .card {
  background-color: rgba(231, 228, 228, 0.722);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

.login-section h2 {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 800;
  color: #56ab2e;
}

.login-section label {
  margin-bottom: 8px;
  color: #4d4d4d !important;
}

.login-section ::placeholder {
  color: #9f9d9d;
}

.btn-login {
  margin-top: 20px;
  background-color: #004225;
  color: #eeeeee;
  width: 332px;
}

.btn-login:hover {
  background-color: #527853 !important;
  color: #eeeeee !important;
}

.input-group-append {
  cursor: pointer;
}

.fa-eye,
.fa-eye-slash {
  font-size: 1.5rem;
  color: #858383;
}

.btn-logo {
  cursor: pointer;
}

.dashboard-section {
  padding: 60px 0;
  background-color: #e8eedc;
  position: relative;
  overflow: hidden;
}

.background-animate {
  position: absolute;
  top: -2px;
  left: -55%;
  width: 50vw;
  height: 100%;
  background-color: #e8c614;
  border-radius: 0 100% 100% 0;
  transform: translateX(-100%);
}

.dashboard-section .container {
  position: relative;
  z-index: 1;
}

.dashboard-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
}

.dashboard-section img {
  display: block;
  margin: 0 auto;
}

.dashboard-section .btn {
  margin-top: 20px;
}

.btn-dashboard {
  padding: 10px 20px;
  background-color: #e8eedc;
  border: 2px solid #004225;
  color: #004225;
}

.btn-dashboard:hover {
  background-color: #004225;
  border: 2px solid #004225;
  color: #eeeeee;
}

.form-direktori {
  width: 700px;
  margin: 21px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-direktori .logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.form-direktori h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.form-direktori .form-container {
  display: flex;
  justify-content: space-between;
}

.form-direktori .form-column {
  width: 48%;
}

.form-direktori .form-group {
  margin-bottom: 15px;
}

.form-direktori label {
  display: block;
  margin-bottom: 5px;
}

.form-direktori input[type="text"],
.form-direktori textarea,
.form-direktori input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-direktori .buttons {
  margin-top: 20px;
  text-align: right;
}

.form-direktori .btn-batal,
.form-direktori .btn-simpan {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-direktori .btn-batal {
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.form-direktori .btn-batal:hover {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-direktori .btn-simpan {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-direktori .btn-simpan:hover {
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.form-edukasi {
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-edukasi .logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.form-edukasi h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.form-edukasi .form-group {
  margin-bottom: 15px;
}

.form-edukasi label {
  display: block;
  margin-bottom: 5px;
}

.form-edukasi input[type="text"],
.form-edukasi textarea,
.form-edukasi input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-edukasi .buttons {
  margin-top: 20px;
  text-align: right;
}

.form-edukasi .btn-batal,
.form-edukasi .btn-simpan {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-edukasi .btn-batal {
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.form-edukasi .btn-batal:hover {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-edukasi .btn-simpan {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-edukasi .btn-simpan:hover {
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.form-spesies {
  width: 1000px;
  margin: 23px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-spesies .logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.form-spesies h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.form-spesies .form-container {
  display: flex;
  justify-content: space-between;
}

.form-spesies .form-column {
  width: 32%;
}

.form-spesies .form-group {
  margin-bottom: 15px;
}

.form-spesies label {
  display: block;
  margin-bottom: 5px;
}

.form-spesies input[type="text"],
.form-spesies textarea,
.form-spesies input[type="file"],
.form-spesies select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-spesies .buttons {
  margin-top: 20px;
  text-align: right;
}

.form-spesies .btn-batal,
.form-spesies .btn-simpan {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-spesies .btn-batal {
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.form-spesies .btn-batal:hover {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-spesies .btn-simpan {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.form-spesies .btn-simpan:hover {
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.direktori {
  padding-bottom: 30px;
  padding-top: 12px;
}

.direktori h1 {
  margin-left: 200px;
  font-size: 2.5rem;
  cursor: pointer;
}

.direktori .dropdown-menu {
  background-color: #f6f2f2;
  border: none;
  width: 50%;
}

.direktori .dropdown-item {
  font-size: 2.2rem;
  font-weight: 400;
  background-color: #f6f2f2;
  color: #373636;
}

.direktori .dropdown-item:hover {
  color: #56ab2e;
}

#direktori {
  margin-left: 200px;
  background-color: #e8eedc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#direktori .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: #004225;
  color: #eeeeee;
  border-radius: 10px;
  height: 160px;
}

#direktori .card img {
  width: 200px;
  height: 160px;
  object-fit: cover;
}

.direktori .logo {
  position: absolute;
  top: 30px;
  left: 220px;
  width: 80px;
  height: auto;
}

.direktori .btn-tambah {
  background-color: #004225;
  color: #eeeeee;
  border: 2px solid #004225;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.direktori .btn-tambah:hover {
  background-color: #f6f2f2;
  color: #004225;
  border: 2px solid #004225;
}

#direktori .btn-edit,
#direktori .btn-hapus {
  background-color: #004225;
  color: #eeeeee;
  border: 1px solid #e8eedc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
}

#direktori .btn-edit:hover,
#direktori .btn-hapus:hover {
  background-color: #e8eedc;
  color: #004225;
}

#direktori .card-title {
  margin-left: -60px;
  font-size: 1.8rem;
}

#direktori .card-text {
  margin-left: -60px;
  color: #e8c614;
  font-size: 1.2rem;
}

.edukasi {
  padding-bottom: 30px;
  padding-top: 12px;
}

.edukasi h1 {
  margin-left: 200px;
  font-size: 2.5rem;
  cursor: pointer;
}

.edukasi .dropdown-menu {
  background-color: #f6f2f2;
  border: none;
  width: 50%;
}

.edukasi .dropdown-item {
  font-size: 2.2rem;
  font-weight: 400;
  background-color: #f6f2f2;
  color: #373636;
}

.edukasi .dropdown-item:hover {
  color: #56ab2e;
}

#edukasi {
  margin-left: 200px;
  background-color: #e8eedc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#edukasi .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: #004225;
  color: #eeeeee;
  border-radius: 10px;
  height: 188px;
}

#edukasi .card img {
  width: 235px;
  height: 188px;
  object-fit: cover;
}

.edukasi .logo {
  position: absolute;
  top: 30px;
  left: 220px;
  width: 80px;
  height: auto;
}

.edukasi .btn-tambah {
  background-color: #004225;
  color: #eeeeee;
  border: 2px solid #004225;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.edukasi .btn-tambah:hover {
  background-color: #f6f2f2;
  color: #004225;
  border: 2px solid #004225;
}

#edukasi .btn-edit,
#edukasi .btn-hapus {
  background-color: #004225;
  color: #eeeeee;
  border: 1px solid #e8eedc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
}

#edukasi .btn-edit:hover,
#edukasi .btn-hapus:hover {
  background-color: #e8eedc;
  color: #004225;
}

#edukasi .card-title {
  margin-left: -30px;
  font-size: 1.8rem;
}

#edukasi .card-text {
  margin-left: -30px;
  color: #e8c614;
}

.spesies-section {
  padding-bottom: 30px;
  padding-top: 12px;
}

.spesies-section h1 {
  margin-left: 200px;
  font-size: 2.5rem;
  cursor: pointer;
}

.spesies-section .dropdown-menu {
  background-color: #f6f2f2;
  border: none;
  width: 50%;
}

.spesies-section .dropdown-item {
  font-size: 2.2rem;
  font-weight: 400;
  background-color: #f6f2f2;
  color: #373636;
}

.spesies-section .dropdown-item:hover {
  color: #56ab2e;
}

#spesies-section {
  margin-left: 200px;
  background-color: #e8eedc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#spesies-section .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: #004225;
  color: #eeeeee;
  border-radius: 10px;
  height: 160px;
}

#spesies-section .card img {
  width: 240px;
  height: 160px;
  object-fit: cover;
}

.spesies-section .logo {
  position: absolute;
  top: 30px;
  left: 220px;
  width: 80px;
  height: auto;
}

.spesies-section .btn-tambah {
  background-color: #004225;
  color: #eeeeee;
  border: 2px solid #004225;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.spesies-section .btn-tambah:hover {
  background-color: #f6f2f2;
  color: #004225;
  border: 2px solid #004225;
}

#spesies-section .btn-edit,
#spesies-section .btn-hapus {
  background-color: #004225;
  color: #eeeeee;
  border: 1px solid #e8eedc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
}

#spesies-section .btn-edit:hover,
#spesies-section .btn-hapus:hover {
  background-color: #e8eedc;
  color: #004225;
}

#spesies-section .card-title {
  margin-left: -25px;
  font-size: 1.8rem;
}

#spesies-section .card-text {
  margin-left: -25px;
  color: #e8c614;
}

.edit-form-direktori {
  width: 800px;
  margin: 21px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.edit-form-direktori .logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.edit-form-direktori h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.edit-form-direktori .form-container {
  display: flex;
  justify-content: space-between;
}

.edit-form-direktori .form-column {
  width: 48%;
}

.edit-form-direktori .form-group {
  margin-bottom: 15px;
}

.edit-form-direktori label {
  display: block;
  margin-bottom: 5px;
}

.edit-form-direktori input[type="text"],
.edit-form-direktori textarea,
.edit-form-direktori input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-form-direktori .buttons {
  margin-top: 20px;
  text-align: right;
}

.edit-form-direktori .btn-batal,
.edit-form-direktori .btn-simpan {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form-direktori .btn-batal {
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.edit-form-direktori .btn-batal:hover {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.edit-form-direktori .btn-simpan {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.edit-form-direktori .btn-simpan:hover {
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.edit-form-spesies {
  width: 1000px;
  margin: 23px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.edit-form-spesies .logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.edit-form-spesies h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.edit-form-spesies .form-container {
  display: flex;
  justify-content: space-between;
}

.edit-form-spesies .form-column {
  width: 32%;
}

.edit-form-spesies .form-group {
  margin-bottom: 15px;
}

.edit-form-spesies label {
  display: block;
  margin-bottom: 5px;
}

.edit-form-spesies input[type="text"],
.edit-form-spesies textarea,
.edit-form-spesies input[type="file"],
.edit-form-spesies select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-form-spesies .buttons {
  margin-top: 20px;
  text-align: right;
}

.edit-form-spesies .btn-batal,
.edit-form-spesies .btn-simpan {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form-spesies .btn-batal {
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}

.edit-form-spesies .btn-batal:hover {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.edit-form-spesies .btn-simpan {
  background-color: #004225;
  border: 1px solid #004225;
  color: #f9f9f9;
}

.edit-form-spesies .btn-simpan:hover {
  background-color: #f9f9f9;
  border: 1px solid #004225;
  color: #004225;
}
